@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .about-metric-container {
    @apply w-full max-w-[25.188rem] px-1 py-[0.16rem] text-center md:px-2 lg:px-2 xl:px-5;
  }

  .about-metric-number {
    @apply text-center font-righteous text-xl !leading-tight text-indigo-blue md:mb-[0.625rem] md:!text-5xl lg:!mb-[1.438rem] lg:!text-[4.75rem] lg:!leading-[4.5rem] xs:text-[1.875rem] xs:leading-[1.643rem];
  }

  .about-metric-label {
    @apply inline-block text-[0.625rem] font-light leading-tight text-gray md:!text-xl lg:!text-[2rem] lg:!leading-[2.66rem] xs:text-[0.73rem] xs:leading-[0.971rem];
  }

  .footer-office-info {
    @apply text-[0.923rem] leading-[1.638rem] text-white sm:text-[0.938rem] sm:leading-[1.688rem];
  }

  .footer-office-info-label {
    @apply font-semibold text-yellow-dark;
  }

  .split-parent {
    overflow: hidden;
  }

  .word {
    overflow: hidden;
  }
}

.thumb-swiper .swiper-slide {
  opacity: 0.3;
}

.thumb-swiper .swiper-slide-thumb-active {
  opacity: 1;
}
